## Imports

In [3]:
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

## Carregando base de dados

In [23]:
dados = pd.read_csv('historico_alunos_raiox.csv')
dados.head()

,id,codigo_curriculo,codigo_ingresso,periodo_ingresso,forma_ingresso,codigo_evasao,forma_evasao,periodo_evasao,evadiu_periodo,forma_saida,...,codigo_tipo_matricula,tipo_matricula,codigo_situacao,situacao,media_final,nome_disciplina,numero_creditos,carga_horaria,nome_setor,periodo_relativo
0,L342881,1979,1,1983.1,VESTIBULAR,1,GRADUADO,1987.2,10.0,Graduado,...,1.0,Normal,3.0,Aprovado,7.6,ALGEBRA VETORIAL E GEOMETRIA ANALÍTICA,4.0,60.0,UNID. ACAD. DE MATEMÁTICA,2.0
1,L342881,1979,1,1983.1,VESTIBULAR,1,GRADUADO,1987.2,10.0,Graduado,...,1.0,Normal,3.0,Aprovado,7.8,ECONOMIA,4.0,60.0,UNID. ACAD. DE ECONOMIA E FINANCAS,4.0
2,L342881,1979,1,1983.1,VESTIBULAR,1,GRADUADO,1987.2,10.0,Graduado,...,1.0,Normal,3.0,Aprovado,7.7,SOCIOLOGIA INDUSTRIAL I,3.0,45.0,UNID. ACAD. DE SOCIOLOGIA E ANTROPOLOGIA,7.0
3,L342881,1979,1,1983.1,VESTIBULAR,1,GRADUADO,1987.2,10.0,Graduado,...,1.0,Normal,2.0,Trancado,NaN,INTRODUÇÃO À PSICOLOGIA,4.0,60.0,UNID. ACAD. DE EDUCAÇÃO,1.0
4,L342881,1979,1,1983.1,VESTIBULAR,1,GRADUADO,1987.2,10.0,Graduado,...,1.0,Normal,3.0,Aprovado,9.1,INTRODUÇÃO À PSICOLOGIA,4.0,60.0,UNID. ACAD. DE EDUCAÇÃO,6.0

## Exploração e Pré-processamento dos dados

In [24]:
dados.shape

(150703, 34)

In [25]:
dados.columns

Index(['id', 'codigo_curriculo', 'codigo_ingresso', 'periodo_ingresso',
       'forma_ingresso', 'codigo_evasao', 'forma_evasao', 'periodo_evasao',
       'evadiu_periodo', 'forma_saida', 'acao_afirmativa',
       'tipo_reserva_vagas', 'forma_reserva_vagas', 'sexo', 'codigo_cor',
       'nome_cor', 'idade_ingresso', 'idade_evasao', 'tipo_ensino_medio',
       'ensino_medio', 'apv_media_geral', 'codigo_disciplina',
       'periodo_matricula', 'turma', 'codigo_tipo_matricula', 'tipo_matricula',
       'codigo_situacao', 'situacao', 'media_final', 'nome_disciplina',
       'numero_creditos', 'carga_horaria', 'nome_setor', 'periodo_relativo'],
      dtype='object')

In [26]:
# Observando as colunas e seus respectivos tipos
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150703 entries, 0 to 150702
Data columns (total 34 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   id                     150703 non-null  object
 1   codigo_curriculo       150703 non-null  int64
 2   codigo_ingresso        150703 non-null  int64
 3   periodo_ingresso       150703 non-null  float64
 4   forma_ingresso         150703 non-null  object
 5   codigo_evasao          150703 non-null  int64
 6   forma_evasao           150703 non-null  object
 7   periodo_evasao         150703 non-null  float64
 8   evadiu_periodo         126765 non-null  float64
 9   forma_saida            150703 non-null  object
 10  acao_afirmativa        150703 non-null  object
 11  tipo_reserva_vagas     150703 non-null  int64
 12  forma_reserva_vagas    150703 non-null  object
 13  sexo                   150703 non-null  object
 14  codigo_cor             150703 non-null  int64
 15  nome_cor               150703 non-null  object
 16  idade_ingresso         150703 non-null  int64
 17  idade_evasao           126852 non-null  float64
 18  tipo_ensino_medio      67992 non-null   float64
 19  ensino_medio           150703 non-null  object
 20  apv_media_geral        145703 non-null  float64
 21  codigo_disciplina      150650 non-null  float64
 22  periodo_matricula      150650 non-null  float64
 23  turma                  150650 non-null  float64
 24  codigo_tipo_matricula  150650 non-null  float64
 25  tipo_matricula         150650 non-null  object
 26  codigo_situacao        150650 non-null  float64
 27  situacao               150650 non-null  object
 28  media_final            131493 non-null  float64
 29  nome_disciplina        150650 non-null  object
 30  numero_creditos        150650 non-null  float64
 31  carga_horaria          150650 non-null  float64
 32  nome_setor             150650 non-null  object
 33  periodo_relativo       150105 non-null  float64
dtypes: float64(15), int64(6), object(13)
memory usage: 39.1+ MB

In [27]:
# Verificando se há valores nulos
dados.isnull().sum()

id                           0
codigo_curriculo             0
codigo_ingresso              0
periodo_ingresso             0
forma_ingresso               0
codigo_evasao                0
forma_evasao                 0
periodo_evasao               0
evadiu_periodo           23938
forma_saida                  0
acao_afirmativa              0
tipo_reserva_vagas           0
forma_reserva_vagas          0
sexo                         0
codigo_cor                   0
nome_cor                     0
idade_ingresso               0
idade_evasao             23851
tipo_ensino_medio        82711
ensino_medio                 0
apv_media_geral           5000
codigo_disciplina           53
periodo_matricula           53
turma                       53
codigo_tipo_matricula       53
tipo_matricula              53
codigo_situacao             53
situacao                    53
media_final              19210
nome_disciplina             53
numero_creditos             53
carga_horaria               53
nome_setor                  53
periodo_relativo           598
dtype: int64